<p>Olá, {{ deliveryman }}</p>
<p>O pedido abaixo já está pronto para ser retirado em nossa unidade. Confira os detalhes:</p>
<p>
    <strong>Produto: </strong>{{ product }}<br />
    <strong>Destinatário: </strong>{{ recipient }}<br />
    <strong>Endereço: </strong>{{ street }}<br />
    <strong>Número: </strong>{{ number }}<br />
    <strong>Complemento: </strong>{{ complement }}<br />
    <strong>Estado: </strong>{{ state }}<br />
    <strong>Cidade: </strong>{{ city }}<br />
    <strong>CEP: </strong>{{ zipcode }}<br />
</p>
<p>Lembrando que o horário de retirada de pedidos em nossa unidade é de Segunda a Sexta das 08h:00 ás 18h:00.</p>